<!-- Main content -->
  <div class="main-content">
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
  <div class="container-fluid">
    <!-- Brand -->
    <a style="opacity: 0;" class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="https://argon-dashboard-nodejs.creative-tim.com/demos/argon-free">NextL Designs</a>
    
    <!-- User -->
    <ul class="navbar-nav align-items-center d-none d-md-flex">
      <li class="nav-item dropdown">
        <a class="nav-link pr-0" href="https://argon-dashboard-nodejs.creative-tim.com/demos/argon-free?_ga=2.229369948.1925401995.1625147496-792189363.1625147496#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle">
              <img alt="Image placeholder" src="./assets/team-4-800x800.jpg">
            </span>
            <div class="media-body ml-2 d-none d-lg-block">
              <span class="mb-0 text-sm font-weight-bold">Jessica Jones</span>
            </div>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
  <div class=" dropdown-header noti-title">
    <h6 class="text-overflow m-0">Welcome!</h6>
  </div>
  <a href="https://argon-dashboard-nodejs.creative-tim.com/demos/argon-free/profile" class="dropdown-item">
    <i class="ni ni-single-02"></i>
    <span>My profile</span>
  </a>
  <a href="https://argon-dashboard-nodejs.creative-tim.com/demos/argon-free/profile" class="dropdown-item">
    <i class="ni ni-settings-gear-65"></i>
    <span>Settings</span>
  </a>
  <a href="https://argon-dashboard-nodejs.creative-tim.com/demos/argon-free/profile" class="dropdown-item">
    <i class="ni ni-calendar-grid-58"></i>
    <span>Activity</span>
  </a>
  <a href="https://argon-dashboard-nodejs.creative-tim.com/demos/argon-free/profile" class="dropdown-item">
    <i class="ni ni-support-16"></i>
    <span>Support</span>
  </a>
  <div class="dropdown-divider"></div>
  <a href="https://argon-dashboard-nodejs.creative-tim.com/demos/argon-free?_ga=2.229369948.1925401995.1625147496-792189363.1625147496#!" class="dropdown-item logout">
    <i class="ni ni-user-run"></i>
    <span class="logout">Logout</span>
  </a>
</div>

      </li>
    </ul>
  </div>
</nav>
