<div id="pdf-modal" class="modal-wrapper">
	<div class="modal-body">
		<h3 style="color:#ddd">Generating PDF...</h3>	
	</div>
</div>
<nav class="navbar navbar-vertical fixed-right navbar-expand-md navbar-light bg-white pt-0" id="sidenav-main">
	<div id="mat-holder" class="">
		<h3 style="background-color: #5f5f5f; color: white; margin: 0 -3rem 2rem -3rem !important;" class="text-center p-3">Materials List</h3>
		<!--<button onclick="{$}saveProduct()" style="width:100%" class="btn btn-primary mb-4">Save</button>-->
		<ul id="mat-list" class="navbar-nav">
			
			<li class="nav-item">
			  <a data-d-id="111" onclick="{$}toggleDropDown('111')" class="nav-link" href="#">
			    Leather<i class="fa fa-angle-down"></i>
			  </a>
			  <div id="111" class="container">
			  <div class="row p-3">
				{{#:each _global_.appData.materials}}	
				<div onclick="{$}changeMaterial({{@index}})" class="col-md-4 text-center mat-thumb-hldr">
					<div style="background-image:url({{:fn '{$}getImage' this }})" class="mat-thumb"></div>
					<span>{{this.name}}</span>
				</div>
				{{/:each}}			
			  </div>
			  </div>
			</li>

			<li class="nav-item">
				<a data-d-id="222" onclick="{$}toggleDropDown('222')" class="nav-link" href="#">
				  Fabric<i class="fa fa-angle-left"></i>
				</a>
				<div style="display:none" id="222" class="container">
				<div class="row p-3">
				  {{#:each _global_.appData.materials}}	
				  <div onclick="{$}changeMaterial({{@index}})" class="col-md-4 text-center mat-thumb-hldr">
					  <div style="background-image:url({{:fn '{$}getImage' this }})" class="mat-thumb"></div>
					  <span>{{this.name}}</span>
				  </div>
				  {{/:each}}			
				</div>
				</div>
			  </li>
			
      		</ul>
	</div>

	<div style="display:none" id="saved-holder" class="">
		
		<ul id="mat-list" class="navbar-nav">
			<li class="nav-item">
			  <a class="nav-link" href="#">
			    Saved Designs
			  </a>
			  <div class="container">
			  <div class="row">
				{{#each	_global_.appData.userProducts}}			
				<div onclick="{$}loadShoe({{@index}}, false)" class="col-md-6 text-center mat-thumb-hldr">
					<div style="background-image:url({{this.thumbnail}})" class="preset-thumb"></div>
					
				</div>
				{{/each}}
				
				
			  </div>
			  </div>
			</li>
      		</ul>
	</div>

	<div style="display:none" id="preset-holder" class="">
		
		<ul id="mat-list" class="navbar-nav">
			<li class="nav-item">
			  <a class="nav-link" href="#">
			    Shoe Presets
			  </a>
			  <div class="container">
			  <div class="row">
				{{#each	_global_.appData.presetShoes}}			
				<div onclick="{$}loadShoe({{@index}}, true)" class="col-md-6 text-center mat-thumb-hldr">
					<div style="background-image:url({{this.thumbnail}})" class="preset-thumb"></div>
					
				</div>
				{{/each}}
				
				
			  </div>
			  </div>
			</li>
      		</ul>
	</div>
  </nav>

  <button style="top:4px; right: 354px;" class="abs-btns btn"><i class="" style="background-image: url('./assets/icons8-augmented-reality-96_be@2x.png'); margin-bottom:0; height:30px"></i>View AR</button>
  <button onclick="{$}handleShare()" style="bottom:163px; right: 356px;" class="abs-btns btn"><i class="" style="background-image: url('./assets/icons8-share-384@2x.png')"></i>Share</button>
  <button onclick="{$}saveProduct()" style="bottom:92px; right: 356px;" class="abs-btns btn"><i class="" style="background-image: url('./assets/icons8-save-96@2x.png')"></i>Save</button>
  <button onclick="{$}getPDF()" style="bottom:24px; right: 347px;" class="abs-btns btn"><i class="" style="background-image: url('./assets/icons8-pdf-52@2x.png')"></i>Get PDF</button>

  <nav id="sidenav2" class="navbar navbar-vertical fixed-right navbar-expand-md navbar-light bg-white">
	<div id="three-btn-hldr">
		<!--<span>View in AR</span>-->
		<i id="showMatBtn" style="background-image: url('./assets/frwrw@2x.png')" onclick="{$}showMaterials()" class="selected"></i>
		<i id="showSavedBtn" style="background-image: url('./assets/n_@2x.png')" onclick="{$}showSavedShoes()" class=""></i>
		<i id="showPresetBtn" style="background-image: url('./assets/rwr@2x.png')" onclick="{$}showPresetShoes()" class=""></i>
		<!--<span>Download</span>-->
	</div>
	
  </nav>

  <div id="orientation-hldr" class="row">
	  <div onclick="{$}changeCamPosition(1)" style="background-image: url(./assets/1.png)" class="col-md-3"></div>
	  <div onclick="{$}changeCamPosition(2)" style="background-image: url(./assets/2.png)" class="col-md-3"></div>
	  <div onclick="{$}changeCamPosition(3)" style="background-image: url(./assets/3.png)" class="col-md-3"></div>
	  <div onclick="{$}changeCamPosition(4)" style="background-image: url(./assets/4.png)" class="col-md-3"></div>
  </div>

  <div id="left-buttons-hldr">
	<div onclick="{$}zoomIn(0.7)" style="background-image: url(./assets/icons8-zoom-in-96.png)" class="left-button"></div>
	<div onclick="{$}zoomIn(1.3)" style="background-image: url(./assets/icons8-zoom-out-96.png)" class="left-button mb-3"></div>
	<div onclick="{$}undoFunction()" style="background-image: url(./assets/icons8-undo-96.png); opacity: 0.3" class="left-button mb-2">Undo</div>
	<div onclick="{$}redoFunction()" style="background-image: url(./assets/icons8-redo-96.png); opacity: 0.3" class="left-button mb-4">Redo</div>
	<div onclick="{$}resetShoeDesign()" style="background-image: url(./assets/icons8-reset-96.png); background-size: 53%;" class="left-button">Reset</div>
  </div>

 <div class="header pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      
    </div>
  </div>
</div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">

      <iframe id="customizer-iframe" src="threecode/viewer.html"></iframe>       

      </div>

<script>

	console.log('helloooo');
</script>
      
