 <nav class="navbar navbar-vertical fixed-right navbar-expand-md navbar-light bg-white" id="sidenav-main">
	<div id="mat-holder" class="">
		<button onclick="{$}saveProduct()" style="width:100%" class="btn btn-primary mb-4">Save</button>
		<ul id="mat-list" class="navbar-nav">
			
			<li class="nav-item">
			  <a class="nav-link" href="#">
			    Leather
			  </a>
			  <div class="container">
			  <div class="row">
				{{#:each _global_.appData.materials}}	
				<div onclick="{$}changeMaterial({{@index}})" class="col-xl-4 text-center mat-thumb-hldr">
					<div style="background-image:url({{:fn '{$}getImage' this }})" class="mat-thumb"></div>
					<span>Type {{@index}}</span>
				</div>
				{{/:each}}			
			  </div>
			  </div>
			</li>
			
      		</ul>
	</div>

	<div style="display:none" id="saved-holder" class="">
		
		<ul id="mat-list" class="navbar-nav">
			<li class="nav-item">
			  <a class="nav-link" href="#">
			    Saved Designs
			  </a>
			  <div class="container">
			  <div class="row">
				{{#each	_global_.appData.userProducts}}			
				<div onclick="{$}loadShoe({{@index}}, false)" class="col-xl-6 text-center mat-thumb-hldr">
					<div style="background-image:url({{this.thumbnail}})" class="preset-thumb"></div>
					
				</div>
				{{/each}}
				
				
			  </div>
			  </div>
			</li>
      		</ul>
	</div>

	<div style="display:none" id="preset-holder" class="">
		
		<ul id="mat-list" class="navbar-nav">
			<li class="nav-item">
			  <a class="nav-link" href="#">
			    Shoe Presets
			  </a>
			  <div class="container">
			  <div class="row">
				{{#each	_global_.appData.presetShoes}}			
				<div onclick="{$}loadShoe({{@index}}, true)" class="col-xl-6 text-center mat-thumb-hldr">
					<div style="background-image:url({{this.thumbnail}})" class="preset-thumb"></div>
					
				</div>
				{{/each}}
				
				
			  </div>
			  </div>
			</li>
      		</ul>
	</div>
  </nav>

  <button style="top:4px; right: 354px;" class="abs-btns btn"><i class="fa fa-eye"></i>View AR</button>
  <button style="bottom:92px; right: 356px;" class="abs-btns btn"><i class="fa fa-share-alt"></i>Share</button>
  <button onclick="{$}getPDF()" style="bottom:24px; right: 350px;" class="abs-btns btn"><i class="fa fa-download"></i>Get PDF</button>

  <nav id="sidenav2" class="navbar navbar-vertical fixed-right navbar-expand-md navbar-light bg-white">
	<div id="three-btn-hldr">
		<!--<span>View in AR</span>-->
		<i id="showMatBtn" onclick="{$}showMaterials()" class="fas fa-tshirt selected"></i>
		<i id="showSavedBtn" onclick="{$}showSavedShoes()" class="fas fa-heart"></i>
		<i id="showPresetBtn" onclick="{$}showPresetShoes()" class="fas fa-heart"></i>
		<!--<span>Download</span>-->
	</div>
	
  </nav>


 <div class="header pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      
    </div>
  </div>
</div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">

      <iframe id="customizer-iframe" src="threecode/viewer.html"></iframe>       

      </div>

<script>

	console.log('helloooo');
</script>
      
