<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <h1 class="text-center text-white mb-5 mt-0">Select Your Shoe</h1> 
    </div>
  </div>
</div>
	
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">
       
	{{#each _global_.appData.clients.1233.shoes }}
	
	
        <div onclick="{$}handleShoeCardClick('{{@key}}')" class="col-xl-4 brand-card mb-6">
          <div class="card shadow">
            <div class="card-header bg-gradient-default">
              <div class="row align-items-center">
                <div class="col">
                  
                  <h3 class="mb-0 text-center text-white">{{ this.name }}</h3>
                </div>
              </div>
            </div>
            <div style="background-image: url('./assets/nike-logo.png')" class="card-body">
             
            </div>
          </div>
        </div>
	
	
	{{/each}}

	

      </div>
