<div style="background:black" class="header pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body text-center">
      <h1 style="display:inline" class="text-center text-white mb-5 mt-0">Select Your Shoe</h1>
      <span id="clientnameshoeslisting">{{_global_.appData.currentClientName}} 
    </div>
  </div>
</div>
	
    <!-- Page content -->
    <div style="background:black; min-height:100vh" class="container-fluid mt--7 pt-5">
      <div class="row">
       
	{{#each _global_.appData.shoes }}
	
        <div onclick="{$}handleShoeCardClick('{{@index}}')" class="col-md-4 brand-card mb-6">
          <div class="card shadow">
            <div style="background-image: url('{{this.thumbURL}}'); padding-top:100%" class="card-body">
             
            </div>
          </div>
        </div>
	
	
	{{/each}}

	

      </div>

      </span>
      </div>

      <button style="left:0; bottom:5vh; position:fixed" onclick="{$}goBack()" class="btn btn-back"><i class="fa fa-arrow-left mr-1"></i>Back</button>
      <!--<button style="right:0; bottom:5vh; position:fixed" onclick="{$}()" class="btn btn-primary">Proceed</button>-->