<div id="client-pass-modal" class="modal-wrapper">
	<div class="modal-body">
    <button style="left:0" onclick="{$}goBackFromModal()" class="btn btn-back"><i class="fa fa-arrow-left mr-1"></i>Back</button>
    <div style="background-image: url({{_global_.appData.currentClientLogoURL}})" class="logo-hldr mb-5"></div>
    <h1 style="color: white;" class="mb-4">LOG IN</h1>

		<div id="client-pass-ipg" class="input-group input-group-alternative">
			<input onkeyup="{$}handleClientPasswordInputChange(this)" class="form-control" placeholder="Type Client Password" type="text">
		</div>
		
	</div>
  <img id="main-logo" src="./assets/nextllogo.png" />
  <div style="left:50%; transform: translate(-50%); top: -550px" class="blue-gradient-div"></div>
</div>

<div style="background:black" class="header pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <button onclick="{$}goBack()" class="btn btn-back"><i class="fa fa-arrow-left mr-1"></i>Back</button>
      <h1 class="text-center text-white mb-5 mt-0">Select Your Client</h1> 
    </div>
  </div>
</div>
	
    <!-- Page content -->
    <div style="background:black" class="container-fluid mt--7">
      <div class="row">
       
	{{#each _global_.appData.clients }}
        <div onclick="{$}handleBCardClick('{{@key}}')" class="col-md-4 brand-card mb-6">
          <div class="card shadow">
            <div class="card-header bg-gradient-default">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0 text-center text-white">{{ this.name }}</h3>
                </div>
              </div>
            </div>
            <div style="background-image: url('{{ this.thumbURL }}')" class="card-body">
             
            </div>
          </div>
        </div>
	{{/each}}

	

      </div>
<div class="blue-gradient-div"></div>
<div style="left:unset; right:-450px ; top: 2vh;" class="blue-gradient-div"></div>