
      <!--<img class="text-center" src="{{_global_.appData.shoeConfig.thumbnail}}" width=300 />-->
      <!-- Page content -->
      <div style="background-color: white;" class="container-fluid">
        <div class="row">
          <div style="background-image: url({{_global_.appData.shoeConfig.thumbnail}})" id="pdf-bg-hldr" class="col-md-9">

          </div>
          <div id="pdf-mat-list-hldr" class="col-md-3 p-0">
            <h2 class="text-center p-3">Details</h2>

            {{#each _global_.appData.shoeConfig.uniqueConfig}}
            <div class="pdf-mat-item">
              <span class="mat-name">{{this.category}} - {{this.name}}</span>
              <div style="background-image: url({{:fn '{$}getImage' this }})"  class="img-hldr"></div>
            </div>
            {{/each}}
          </div>
        </div>
  